__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

.env
.venv/
venv/

.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage
coverage.xml

*.pem
*.key
*.cert

celerybeat-schedule
celerybeat-schedule.db

mongo_data/
*.log
